.menu {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #FFF8E7;
  }

  .menu span {
    margin: 0 50px; 
    color: rgb(33, 25, 70);
    size: 130px;
    font-weight: 1000;
  }

  .headerMenu {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .headerMenu span {
    margin: 0 50px; 
    color: rgb(33, 25, 70);
    size: 130px;
    font-weight: 1000;
  }
  
  .headerMenu li {
    margin-right: 20px;
  }
  
  .botoesHeader a {
    font-size: larger;
    color: rgb(196, 196, 196);
    text-decoration: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: right;
  }

  .botoesHeader a:hover {
    color: #ffffff; 
    text-decoration: underline;
  }
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a{
    color: #000000;
    margin-left: 10px; 

  }

  .dropdown-menu a:hover{
    color: #000000; 
    text-decoration: underline;
  }

  .botoesHeader:hover .dropdown-menu {
    display: block; 
  }

  .botoesMenu a {
    font-size: larger;
    color: rgb(196, 196, 196);
    text-decoration: none;
    font-weight: 500;
  }

  .botoesMenu a:hover {
    color: #000000; 
    text-decoration: underline;
  }
  
  .logoImage {
    width: 400px;
    height: auto;
    margin-right: 300px; 
  }
  

  .menuCompleto{
    list-style-type: none;
    background-color: #5871FB;
  }
  
  .menu-item {
    display: flex;
    align-items: center;
  }
  
  .menu-item a {
    margin-right: 5px; 
  }
  