.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px;
    color: white;
}

.imagemLogo{
    width: 220px;
    height: auto;
}

.nav-logo {
    font-family: Outfit;
    font-size: 50px;
    font-weight: 500;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    text-decoration: none;
}   

.nav-saiba{
    border-radius: 50px;
    padding: 10px 35px;
    background: #fff;
    color: rgb(16, 16, 16);
    cursor: pointer;
    margin-right: 0.8rem;
    box-shadow: #0000008f 0px 0px 10px;
}