################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/API_ControleDeEstoque/.vs/ProjetoControleDeEstoque/FileContentIndex
